body{
    background:#BBDAF6;
    color:#082F6D;
    width:100%;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#7AA6D7;
    color:#082F6D;
}



